@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

body {
    font-family: 'Beau Rivage', cursive;
    background-color: #F8C8DC;
}

#principal{
    max-width: 1000px;
    margin: auto;
    padding: 5%;
    font-size: 50px;
}

img{
    width: 100%;
}

.autor{
    text-align: right;
}

.inspiracion{
    text-align: left;
}

.info{
    text-align: center;
}